<div class='user-text'>
    <p class="messagebox px-3 py-2 <%= 'me' if msg.user == current_user %> "><%= msg.content %>
    </p>
    <p class="username text-success <%= 'te' if msg.user == current_user %>">
        <%= msg.user.username%></p>
</div>
<br/>